/* Write your CSS here */
body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}
.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  min-height: 40vh;
  min-width: 50vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  color: #0f172a;
  font-size: 30px;
  font-weight: 500;
}
.paragraph {
  color: #334155;
  font-family: 'Roboto';
  font-weight: 500;
}
.button {
  border-width: 0px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  color: #1e293b;
  background-color: #ffffff;
  outline: none;
}
.caption {
  font-size: 12px;
  color: #1e293b;
  font-family: 'Roboto';
}
